/* @import url("https://use.typekit.net/jmk3xov.css"); */

canvas {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

table,
th,
td {
    border: 3px solid red;
}

body {
    background-color: #000000;
    text-align: center;
}

.button {
    border: none;
    background-color: grey;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #f20707;
    color: rgb(255, 255, 255);
}

:root {
    --dark-bg: rgba(24, 23, 23, 0.972);
    --spacing: 350px;

    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h1,
h2,
h3,
blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

main {
    width: auto;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    background: var(--dark-bg);
    grid-column: 4/10;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    text-align: center;
}

section {
    grid-column: 4/10;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    text-align: left;
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 4/10;
    margin-bottom: var(--spacing);
    line-height: 3.11;
    text-align: center;
}

blockquote p {
    color: rgb(255, 255, 255);
    background-color: rgba(245, 4, 4, 0.522);
    font-size: 4rem;
    display: inline;
    line-height: 1;
    text-align: center;
}

.left {
    grid-column: 6 / 12;
}

ul li {
    font-size: 1rem;
}